[is="el-accordion"] {
	display: block;
	.el-ac {
		&-summary {
			padding: 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: solid 1px #cccccc;
			cursor: pointer;
			span {
				padding-right: 28px;
			}
			&::after {
				content: "\276F";
				width: 1em;
				height: 1em;
				text-align: center;
				transition: all 100ms;
			}
		}
		&-content {
			height: 0;
			opacity: 0;
			background: white;
			overflow-y: hidden;
		  box-sizing: border-box;
		  background-color: #f9f9f9;
		}
	}
	&[data-expand] {
		.el-ac {
			&-content {
				opacity: 1;
				height: auto;
				padding: 16px;
			}
			&-summary::after {
				transform: rotate(95deg);
			}
		}
	}
}