[is="el-header"] {
	top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
	transition: 100ms;
	padding: 16px;
  background-color: #f1f1f1;
	&.has-padding, .has-padding {
		padding: 16px;
	}
	&.el-header--hidden {
		transition: 100ms;
		transition-delay: 500ms;
		transform: translateY(-100%);
		opacity: 0;
		visibility: hidden;
	}
}