[is="el-sidebar"] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	height: 100vh;
	opacity: 0;
	transition: 100ms;
	visibility: hidden;
	background-color: rgba(0,0,0,.7);
	> section {
		overflow: hidden;
		text-align: left;
		display: inline-flex;
		flex-direction: column;
		background-color: #ffffff;
		min-width: 300px;
		width: auto;
		height: 100vh;
		transition: 100ms;
		> header,
		> footer {
			min-height: 50px;
			background-color: #f1f1f1;
			padding: 16px;
			display: flex;
			align-items: center;
		}
		> div {
			flex: 1;
		}
	}
	&:not([data-right]) > section {
		transform: translateX(-100%);
	}
	&[data-right] {
		text-align: right;
		> section {
			transform: translateX(100%);
		}
	}
	&[data-visible] {
		opacity: 1;
		visibility: visible;
		> section {
			transition: 100ms;
			transition-delay: 100ms;
			transform: translateX(0);
		}
	}
	&.has-padding, .has-padding {
		padding: 16px;
	}
}