[is="el-readmore"] {
	ins {
		text-decoration: none;
	}
	&:not([data-expanded]) {
		.el-readmore-has-ins::after {
			content: " ...";
		}
		ins {
			display: none;
		}
	}
	[data-expanded] {
		.el-readmore-has-ins::after {
			display: none;
		}
		ins {
			display: inline;
		}
	}
}