/* default */
[is="el-mustache"] {
	&:not([data-preserve-height]):not([data-loaded]) * {
		display: none;
	}
	/* preserve-height */
	&[data-preserve-height]:not([data-loaded]) * {
		opacity: 0;
		visibility: hidden;
	}
	/* mock */
	&[data-mock]:not([data-loaded]) {
		text-decoration: blink;
		animation-name: blinker;
		animation-duration: 600ms;
		animation-iteration-count:infinite;
		animation-timing-function:ease-in-out;
		animation-direction: alternate;
		* {
			display: none;
		}
		&::after,
		&::before {
			content: "";
			display: block;
			width: 100%;
			padding: 10px 0;
			opacity: .5;
		}
	}
	/* mock default */
	&[data-mock]:not([data-loaded]),
	&[data-mock="small"]:not([data-loaded]) {
		&::before {
			border-top: solid 46px #cccccc;
			border-bottom: solid 18px #cccccc;
		}
	}
	/* mock = medium */
	&[data-mock="medium"]:not([data-loaded])::after {
		border-bottom: solid 18px #cccccc;
	}
	/* mock = large" */
	&[data-mock="large"]:not([data-loaded]) {
		&::before {
			margin-bottom: 18px;
			border-bottom: solid 80px #cccccc;
		}
		&::after {
			border-top: solid 18px #cccccc;
			border-bottom: solid 18px #cccccc;
		}
	}
	@keyframes blinker {
		from {opacity: .8;}
		to {opacity: .4;}
	}
}