[is="el-lightbox"] {
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: none;
}
[is="el-lightbox"] > div {
	width: 90%;
	height: 90vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	background-color: #ffffff;
}
[is="el-lightbox"] .boxed {
	max-height: 500px;
	max-width: 800px;
}
[is="el-lightbox"] .has-padding {
	padding: 16px;
}
[is="el-lightbox"][visible] {
	display: flex;
}