[is="el-card"] {
	transition: 100ms;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 16px;
	overflow: hidden;
	display: inline-block;
	max-width: 300px;
	text-decoration: none;
}
[is="el-card"] img {
	display: block;
	width: 100%;
	max-height: 100%;
}
[is="el-card"] > div {
	padding: 16px;
	color: #000000;
}
[is="el-card"][href]:hover {
	transition: 100ms;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
[is="el-card"] + [is="el-card"] {
	margin-left: 10px;
}